a{
    background-color: #242425;
}
.editor{
    background: #282C34;
}
.navbar{
    background: #21252B;
}
.tree{
    background: #21252B;
}

.another{
    background: #252528;
}
.seperator{
    background: #3d3374;
}
.s{
    color: #222830;
}